/* Reset (default browsers styles erasing) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; font: inherit; vertical-align: baseline; } article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; } html, body { height: 100%; } body { background: #fff; line-height: 1; } :focus { outline: 0; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } ins { text-decoration: none; } del { text-decoration: line-through; } table { border-collapse: collapse; border-spacing: 0; }

@font-face {
  font-family: 'PalatinoLinotype-Roman';
  src:  url('../fonts/PalatinoLinotype-Roman/PalatinoLinotype-Roman.woff') format('woff'),
  		url('../fonts/PalatinoLinotype-Roman/PalatinoLinotype-Roman.ttf')  format('truetype'), 
  		url('../fonts/PalatinoLinotype-Roman/PalatinoLinotype-Roman.svg#PalatinoLinotype-Roman') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PalatinoLinotype-Italic';
  src: url('../fonts/PalatinoLinotype-Italic/PalatinoLinotype-Italic.eot?#iefix') format('embedded-opentype'),  
	   url('../fonts/PalatinoLinotype-Italic/PalatinoLinotype-Italic.woff') format('woff'),
	   url('../fonts/PalatinoLinotype-Italic/PalatinoLinotype-Italic.ttf')  format('truetype'),
	   url('../fonts/PalatinoLinotype-Italic/PalatinoLinotype-Italic.svg#PalatinoLinotype-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PalatinoLinotype-Bold';
  src: url('../fonts/PalatinoLinotype-Bold/PalatinoLinotype-Bold.eot?#iefix') format('embedded-opentype'),
  	   url('../fonts/PalatinoLinotype-Bold/PalatinoLinotype-Bold.woff') format('woff'),
  	   url('../fonts/PalatinoLinotype-Bold/PalatinoLinotype-Bold.ttf')  format('truetype'),
  	   url('../fonts/PalatinoLinotype-Bold/PalatinoLinotype-Bold.svg#PalatinoLinotype-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PalatinoLinotype-BoldItalic';
  src: url('../fonts/PalatinoLinotype-BoldItalic/PalatinoLinotype-BoldItalic.eot?#iefix') format('embedded-opentype'),
  	   url('../fonts/PalatinoLinotype-BoldItalic/PalatinoLinotype-BoldItalic.woff') format('woff'),
  	   url('../fonts/PalatinoLinotype-BoldItalic/PalatinoLinotype-BoldItalic.ttf')  format('truetype'),
  	   url('../fonts/PalatinoLinotype-BoldItalic/PalatinoLinotype-BoldItalic.svg#PalatinoLinotype-BoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaCond-Semibold';
  src: url('../fonts/ProximaNovaCond-Semibold/ProximaNovaCond-Semibold.eot?#iefix') format('embedded-opentype'),
  	   url('../fonts/ProximaNovaCond-Semibold/ProximaNovaCond-Semibold.otf')  format('opentype'),
  	   url('../fonts/ProximaNovaCond-Semibold/ProximaNovaCond-Semibold.woff') format('woff'),
  	   url('../fonts/ProximaNovaCond-Semibold/ProximaNovaCond-Semibold.ttf')  format('truetype'),
  	   url('../fonts/ProximaNovaCond-Semibold/ProximaNovaCond-Semibold.svg#ProximaNovaCond-Semibold') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'SignPainter-HouseScript';
  src: url('../fonts/SignPainter-HouseScript/SignPainter-HouseScript.eot?#iefix') format('embedded-opentype'),
  	   url('../fonts/SignPainter-HouseScript/SignPainter-HouseScript.otf')  format('opentype'),
	   url('../fonts/SignPainter-HouseScript/SignPainter-HouseScript.woff') format('woff'),
	   url('../fonts/SignPainter-HouseScript/SignPainter-HouseScript.ttf')  format('truetype'),
	   url('../fonts/SignPainter-HouseScript/SignPainter-HouseScript.svg#SignPainter-HouseScript') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Common (common styles) */
body, input, textarea, select, button {
	
	font-family: Arial, sans-serif;
}

body {

	font-size: 14px;
	line-height: 18px;
	text-rendering: optimizelegibility;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 400;
}

body * {

	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input, textarea, select, button {
	
	font-size: 1em;
}

/* Overrides extra padding in Firefox */ 
button::-moz-focus-inner { 
	
	padding: 0; 
	border: none;
}

a, a:hover {

	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	transition: .3s;
}


/* Global (global styles) / prefix — g- */
.g-pseudo-link {
	
	border-bottom: 1px dashed;
	text-decoration: none !important;
	cursor: pointer;
}

.g-limited {
	
	/* width or min-width and max-width*/
}

.g-cleaner {
	
	display: block;
	clear: both;
	height: 0;
	overflow: hidden;
	font-size: 0;
	line-height: 0;
}

.g-cleared:after {
	
	display: block;
	content: ".";
	height: 0;
	clear: both;
	overflow: hidden;
	visibility: hidden;
}

.g-hidden {
	
	display: none !important;
}

.l-header {

	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 9;
	pointer-events: none;
}

.b-borders-collection {

	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	z-index: 2;
}
	.b-borders-collection .b-borders-collection-clause {

		position: absolute;
		display: block;
		background: #c8a359;
	}

	.b-borders-collection .b-borders-collection-clause.b-borders-collection-upperleft-clause {

			left: 0;
			right: 50%;
			margin: 0 38px 0 0;
			height: 7px;
		}
			.b-borders-collection .b-borders-collection-clause.b-borders-collection-upperleft-clause:after {

				position: absolute;
				content: "";
				top: 0;
				right: -9px;
				width: 9px;
				height: 7px;
				background-image: url('../i/couple-triangle.png');
				background-repeat: no-repeat;
				background-position: 0 0;
			}	
	.b-borders-collection .b-borders-collection-clause.b-borders-collection-upperright-clause  {

		right: 0;
		left: 50%;
		margin: 0 0 0 38px;
		height: 7px;
	}
		.b-borders-collection .b-borders-collection-clause.b-borders-collection-upperright-clause:after {

			position: absolute;
			content: "";
			top: 0;
			left: -9px;
			width: 9px;
			height: 7px;
			background-image: url('../i/couple-triangle.png');
			background-repeat: no-repeat;
			background-position: 100% 0;
		}

	.b-borders-collection .b-borders-collection-clause.b-borders-collection-right-clause {

		width: 7px;
		top: 0;
		right: 0;
		bottom: 0;
	}
	.b-borders-collection .b-borders-collection-clause.b-borders-collection-left-clause {

		width: 7px;
		top: 0;
		left: 0;
		bottom: 0;
	}
	.b-borders-collection .b-borders-collection-clause.b-borders-collection-bottom-clause {

		height: 7px;
		right: 0;
		left: 0;
		bottom: 0;
	}

.b-logo {

	position: absolute;
	content: "";
	top: 30px;
	left: 50%;
	margin-left: -40px;
	width: 80px;
	height: 80px;
	z-index: 5;
	pointer-events: all;
}

	.b-logo:before {

		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 80px;
		height: 80px;
		background: url("../i/logo.png") no-repeat;
	}
	.b-logo .b-logo-link {

		position: relative;
		display: block;
		height: 100%;
		text-indent: -9999px;
	}
	.b-logo .b-logo-subscription {

		text-indent: -9999px;
	}
		.b-logo .b-logo-subscription:before {
			position: absolute;
			content: "";
			bottom: -73px;
			left: 50%;
			margin-left: -97px;
			width: 195px;
			height: 60px;
			background: url('../i/logo_sub.png') no-repeat;
		}
	

.b-primary-navigation {

	font-size: 0;
	line-height: 0;
	pointer-events: all;
}

	.b-primary-navigation-hide-shadow-section {
		position: absolute;
		content: "";
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgba(0, 0, 0, 0.7);
		opacity: 0;
		-webkit-transition: .5s;
		-moz-transition: .5s;
		-ms-transition: .5s;
		transition: .5s;
		pointer-events: none;
		z-index: 11;
	}
		.b-primary-navigation-show-shadow-section {
			opacity: 1;
			-webkit-transition: .5s;
			-moz-transition: .5s;
			-ms-transition: .5s;
			transition: .5s;
			pointer-events: all;
		}

	.b-primary-navigation .b-primary-navigation-toggle-link:after {

		position: absolute;
		content: "";
		top: 80px;
		left: 90px;
		width: 36px;
		height: 28px;
		cursor: pointer;
		background: url("../i/toggle.png") no-repeat 100% 0;
		transition: .2s background-position linear;
		z-index: 13;
	}

		.b-primary-navigation .b-primary-navigation-toggle-link:hover:after {

			background-position: 0 0;
		}

	.b-primary-navigation .b-primary-menu {

		position: absolute;
		top: 150px;
		margin: 0 0 0 60px;
		width: 30%;
		min-width: 365px;
		list-style: none;
		z-index: 10;
		display: block;
		opacity: 0;
		pointer-events: none;
		-webkit-transition: .5s;
		-moz-transition: .5s;
		-ms-transition: .5s;
		transition: .5s;
		z-index: 14;
	}
	.b-primary-navigation .b-primary-opened-menu {
		opacity: 1;
		pointer-events: all;
		-webkit-transition: .5s;
		-moz-transition: .5s;
		-ms-transition: .5s;
		transition: .5s;
	}
		.b-primary-navigation .b-primary-menu .b-primary-menu-clause {

			position: relative;
			margin: 22px 0;
			padding-bottom: 1px;
			overflow: hidden;
		}
			.b-primary-navigation .b-primary-menu .b-primary-menu-clause:before {

				position: absolute;
				content: "";
				display: block;
				top: 50%;
				left: 0;
				width: 0;
				height: 1px;
				background: #B6975F;
				-webkit-transition: width 150ms cubic-bezier(0.645, 0.045, 0.355, 1);
				-moz-transition: width 150ms cubic-bezier(0.645, 0.045, 0.355, 1);
				-o-transition: width 150ms cubic-bezier(0.645, 0.045, 0.355, 1);
				transition: width 150ms cubic-bezier(0.645, 0.045, 0.355, 1);
			}
			.b-primary-navigation .b-primary-menu .b-primary-menu-clause:hover:before,
			.b-primary-navigation .b-primary-menu .b-primary-menu-current-clause:before {

				width: 31px;
			}	
			.b-primary-navigation .b-primary-menu .b-primary-menu-clause .b-primary-menu-clause-link {

				padding-left: 70px;
				color: #c8a359;
				font-family: 'PalatinoLinotype-Roman' ,sans-serif;
				font-size: 21px;
				line-height: 21px;
				text-transform: uppercase;
				text-decoration: none;
				letter-spacing: 4px;
			}
	.b-primary-navigation .b-primary-navigation-reservation-link {

		position: fixed;
		right: 63px;
		top: 57px;
		width: 34px;
		height: 26px;
		font-size: 0;
		line-height: 0;
		z-index: 10;
	}
		.b-primary-navigation .b-primary-navigation-reservation-link:after {

			position: absolute;
			content: "";
			top: 0;
			left: 0;
			width: 36px;
			height: 30px;
			background: url('../i/reservation.png'); no-repeat 0 0;
		}
	.b-primary-navigation .b-primary-navigation-proceed-link {

		position: absolute;
		display: block;
		bottom: 230px;
		left: 50%;
		margin-left: -30px;
		width: 61px;
		height: 61px;
		border: 1px solid #f8f6f2;
		border-radius: 50%;
		text-indent: -9999px;
		z-index: 10;
		opacity: 1;
		pointer-events: all;
		-webkit-transition: .3s;
		-moz-transition: .3s;
		-ms-transition: .3s;
		transition: .3s;
		-webkit-transition-delay: .5s;
		-moz-transition-delay: .5s;
		-ms-transition-delay: .5s;
		transition-delay: .5s;
	}
	.b-primary-navigation .b-primary-navigation-proceed-invisible-link {
		opacity: 0;
		pointer-events: none;
		-webkit-transition: .3s;
		-moz-transition: .3s;
		-ms-transition: .3s;
		transition: .3s;
	}
		.b-primary-navigation .b-primary-navigation-proceed-link:before {

			position: absolute;
			content: "";
			top: 50%;
			left: 50%;
			margin-top: -15px;
			margin-left: -10px;
			width: 20px;
			height: 30px;
			background: url('../i/procees-arrow.png') no-repeat;
		}

.b-contacts-collection {

	position: absolute;
	display: inline-block;
	bottom: 70px;
	width: 100%;
	font-size: 0;
	line-height: 0;
	text-align: center;
	z-index: 10;
	pointer-events: all;
	opacity: 1;
	pointer-events: all;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	transition: .3s;
	-webkit-transition-delay: .5s;
	-moz-transition-delay: .5s;
	-ms-transition-delay: .5s;
	transition-delay: .5s;
}
.b-contacts-invisible-collection {

	opacity: 0;
	pointer-events: none;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	transition: .3s;
}

	.b-contacts-collection .b-contacts-clause {

		display: inline-block;
		padding: 0 10px 0 0;
		font-family: 'ProximaNovaCond-Semibold', sans-serif;
		font-size: 12px;
		line-height: normal;
		text-transform: uppercase;
		color: #f8f6f2;
	}

		.b-contacts-collection .b-contacts-clause .b-contacts-clause-link {

			text-decoration: none;
			color: #f8f6f2;
			border-bottom: 1px solid transparent;
		}

			.b-contacts-collection .b-contacts-clause .b-contacts-clause-link:hover {

				border-bottom-color: #ddd;
			}

.l-content {

	display: inline-block;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	overflow: auto;
	vertical-align: top;
	background-size: cover;
}
.b-paged-article {

	position: relative;
	height: 100%;
	overflow: hidden;
	z-index: 1;
	pointer-events: none;
}
	.b-paged-article .b-paged-article-pagination-collection {

		position: absolute;
		top: 180px;
		right: 37px;
		z-index: 10;
		text-align: right;
		pointer-events: all;
		overflow: hidden;
	}
		.b-paged-article .b-paged-article-pagination-collection .b-paged-article-pagination-collection-clause {

			position: relative;
			line-height: 40px;

			
		}
			.b-paged-article .b-paged-article-pagination-collection .b-paged-article-pagination-collection-current-clause:after,
			.b-paged-article .b-paged-article-pagination-collection .b-paged-article-pagination-collection-clause:hover:after {
				width: 20px;
			}

			.b-paged-article .b-paged-article-pagination-collection .b-paged-article-pagination-collection-clause .b-paged-article-pagination-collection-clause-link {

				position: relative;
				display: block;
				/*right: -200px;*/
				padding: 0 30px 0 0;
				height: 100%;
				font-family: 'PalatinoLinotype-Roman' ,sans-serif;
				text-decoration: none;
				text-transform: uppercase;
				color: #c8a359;
			}
				.b-paged-article .b-paged-article-pagination-collection .b-paged-article-pagination-collection-clause .b-paged-article-pagination-collection-clause-link:hover {
					
					right: 0;
				}
				.b-paged-article .b-paged-article-pagination-collection .b-paged-article-pagination-collection-clause .b-paged-article-pagination-collection-clause-link:after {

					position: absolute;
					content: "";
					top: 50%;
					right: 0;
					margin-top: -1px;
					height: 2px;
					width: 5px;
					background-color: #c8a359;
					-webkit-transition: width 150ms cubic-bezier(0.645, 0.045, 0.355, 1);
					-moz-transition: width 150ms cubic-bezier(0.645, 0.045, 0.355, 1);
					-o-transition: width 150ms cubic-bezier(0.645, 0.045, 0.355, 1);
					transition: width 150ms cubic-bezier(0.645, 0.045, 0.355, 1);
				}
				.b-paged-article .b-paged-article-pagination-collection .b-paged-article-pagination-collection-current-clause .b-paged-article-pagination-collection-clause-link:after,
				.b-paged-article .b-paged-article-pagination-collection .b-paged-article-pagination-collection-clause .b-paged-article-pagination-collection-clause-link:hover:after {

					width: 20px;
				}
				.b-paged-article .b-paged-article-pagination-collection .b-paged-article-pagination-collection-clause .b-paged-article-pagination-collection-clause-traverst-link:after {

					width: 10px;
				}
				.b-paged-article .b-paged-article-pagination-collection .b-paged-article-pagination-collection-clause .b-paged-article-pagination-collection-clause-link span {

					position: relative;					
					right: -200px;
					-webkit-transition: 150ms cubic-bezier(0.645, 0.045, 0.355, 1);
					-moz-transition: 150ms cubic-bezier(0.645, 0.045, 0.355, 1);
					-o-transition: 150ms cubic-bezier(0.645, 0.045, 0.355, 1);
					transition: 150ms cubic-bezier(0.645, 0.045, 0.355, 1);
				}
					.b-paged-article .b-paged-article-pagination-collection .b-paged-article-pagination-collection-clause .b-paged-article-pagination-collection-clause-link:hover span {
				
						right: 0;
				}

	.b-paged-article .b-paged-article-section {

		position: absolute;
		height: 100%;
		width: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		pointer-events: auto;
	}
	.b-paged-article .b-paged-article-section .b-paged-article-backgrounds-section {

		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		background-repeat: no-repeat;
		background-size: cover;
	}
		.b-paged-article .b-paged-article-section .b-paged-article-backgrounds-rightcolumn-section {

			left: 50%;
		}
		.b-paged-article .b-paged-article-section .b-paged-article-backgrounds-leftcolumn-section {

			right: 50%;
		}
		.b-paged-article .b-paged-article-section .b-paged-article-section-inside {

			position: absolute;
			top: 50%;
			margin-top: -540px;
			width: 100%;
			font-size: 0;
			line-height: 1080px;
			text-align: center;
		}

			.b-paged-article .b-paged-article-section .b-paged-article-section-inside .b-paged-article-section-contents {

				position: relative;
				display: inline-block;
				max-width: 900px;
				font-size: 14px;
				line-height: 20px;
				vertical-align: middle;
				text-align: center;
				z-index: 20;
			}

			.b-paged-article .b-paged-article-section .b-paged-article-section-inside .b-paged-article-left-section-contents {

				margin-right: 50%;
			}

				.b-paged-article .b-paged-article-section .b-paged-article-section-inside .b-paged-article-section-contents.b-paged-article-left-section-contents .b-paged-article-secondary-title,
				.b-paged-article .b-paged-article-section .b-paged-article-section-inside .b-paged-article-section-contents.b-paged-article-right-section-contents .b-paged-article-secondary-title {

					color: #c8a359;
					font-family: 'SignPainter-HouseScript', sans-serif;
					font-size: 44px;
					line-height: normal;
				}

				.b-paged-article .b-paged-article-section .b-paged-article-section-inside .b-paged-article-section-contents.b-paged-article-left-section-contents .b-paged-article-section-contents-description,
				.b-paged-article .b-paged-article-section .b-paged-article-section-inside .b-paged-article-section-contents.b-paged-article-right-section-contents .b-paged-article-section-contents-description {

					max-width: 580px;
				}

			.b-paged-article .b-paged-article-section .b-paged-article-section-inside .b-paged-article-right-section-contents {

				margin-left: 50%;
			}
			.b-paged-article .b-paged-article-section .b-paged-article-section-inside .b-paged-article-left-section-contents {

				margin-right: 50%;
			}
				.b-paged-article .b-paged-article-section .b-paged-article-section-inside .b-paged-article-section-contents .b-paged-article-primary-title {

					max-width: 700px;
					color: #f8f6f2;
					font-family: 'SignPainter-HouseScript', sans-serif;
					font-size: 80px;
					line-height: 80px;
				}

				.b-paged-article .b-paged-article-section .b-paged-article-section-contents .b-paged-article-secondary-title {

					position: relative;
					padding: 40px 0 55px;
					color: #f8f6f2;
					font-family: 'SignPainter-HouseScript', sans-serif;
					font-size: 62px;
					line-height: normal;
				}
				.b-paged-article .b-paged-article-revealed-section .b-paged-article-section-contents .b-paged-article-secondary-title {

					padding: 0 0 55px;
					-webkit-transition: .6s;
					-moz-transition: .6s;
					-ms-transition: .6s;
					transition: .6s;
				}

					.b-paged-article .b-paged-article-section .b-paged-article-section-contents .b-paged-article-secondary-title:before {

						position: absolute;
						content: "";
						top: 15px;
						left: 50%;
						margin-left: -150px;
						height: 2px;
						width: 300px;
						background-color: #c8a359;
					}
					.b-paged-article .b-paged-article-revealed-section .b-paged-article-section-contents .b-paged-article-secondary-title:before {

						opacity: 0;
						-webkit-transition: .6s;
						-moz-transition: .6s;
						-ms-transition: .6s;
						transition: .6s;
					}
					.b-paged-article .b-paged-article-section .b-paged-article-section-contents .b-paged-article-hideupper-title:before {

						display: none;
					}
					.b-paged-article .b-paged-article-section .b-paged-article-section-contents .b-paged-article-secondary-title:after {

						position: absolute;
						content: "";
						bottom: 30px;
						left: 50%;
						margin-left: -150px;
						height: 2px;
						width: 300px;
						background-color: #c8a359;
					}

				.b-paged-article .b-paged-article-section .b-paged-article-section-contents .b-paged-article-section-contents-titles-section {

					display: inline-block;
					overflow: hidden;
				}
					.b-paged-article .b-paged-article-section .b-paged-article-section-contents .b-paged-article-section-contents-titles-section .b-paged-article-second-title:after,
					.b-paged-article .b-paged-article-section .b-paged-article-section-contents .b-paged-article-section-contents-titles-section .b-paged-article-second-title:before {

						left: 0;
						margin: 0;
						width: 100%;
					}
				.b-paged-article .b-paged-article-section .b-paged-article-section-contents .b-paged-article-third-title {

					position: relative;
					margin: 0 auto 12px;
					color: #c8a359;
					font-family: 'PalatinoLinotype-BoldItalic', sans-serif;
					font-size: 18px;
					line-height: 27px;
					text-transform: uppercase;
				}
					.b-paged-article .b-paged-article-section .b-paged-article-section-contents .b-paged-article-third-title:before {

						position: absolute;
						content: "";
						left: 0;
						top: 50%;
						margin-top: -1px;
						width: 100px;
						height: 2px;
						background-color: #c8a359;
					}
					.b-paged-article .b-paged-article-section .b-paged-article-section-contents .b-paged-article-third-title:after {

						position: absolute;
						content: "";
						right: 0;
						top: 50%;
						margin-top: -1px;
						width: 100px;
						height: 2px;
						background-color: #c8a359;
					}
				.b-paged-article .b-paged-article-section .b-paged-article-section-contents p {
					
					margin: 0 auto;
					max-width: 600px;
					color: #f8f6f2;
					font-family: 'PalatinoLinotype-Italic', sans-serif;
					font-size: 20px;
					line-height: 30px;
					overflow: hidden;
					max-height: 0;
				}
				.b-paged-article .b-paged-article-revealed-section .b-paged-article-section-contents p {

					max-height: 720px;
					-webkit-transition: .6s;
					-moz-transition: .6s;
					-ms-transition: .6s;
					transition: .6s;
				}

				.b-paged-article .b-paged-article-section .b-paged-article-section-inside .b-paged-article-section-contents  .b-paged-article-section-contents-description {

					max-width: 850px;
					color: #8c8c8c;
				}
				.b-paged-article .b-paged-article-section .b-paged-article-section-inside .b-paged-article-section-contents  .b-paged-article-section-contents-hide-description {

					display: none;
				}

				.b-paged-article .b-paged-article-section .b-paged-article-section-inside .b-paged-article-section-contents .b-paged-article-link {

					display: inline-block;
					font-family: 'PalatinoLinotype-Roman', sans-serif;
					font-size: 20px;
					line-height: 30px;
					color: #c8a359;
					text-decoration: none;
					border-bottom: 0px solid #c8a359;
					padding: 0 3px;
					overflow: hidden;
					max-height: 0;
				}
				.b-paged-article .b-paged-article-revealed-section .b-paged-article-section-inside .b-paged-article-section-contents .b-paged-article-link {

					padding: 60px 3px 3px 3px;
					max-height: 720px;
					border-bottom-width: 2px;
					-webkit-transition: .6s;
					-moz-transition: .6s;
					-ms-transition: .6s;
					transition: .6s;
				}

	.b-paged-article .b-paged-article-section .b-paged-article-section-form {

		padding: 45px 0 70px 0;			
	}
	.b-paged-article .b-paged-article-section .b-paged-article-section-form  .b-paged-article-section-form-field {
		
		display: inline-block;
		margin: 0 9px;
		border: 2px solid #c8a359;
	}
		.b-paged-article .b-paged-article-section .b-paged-article-section-form .b-paged-article-section-form-field .b-paged-article-section-form-field-entity,
		.b-paged-article .b-paged-article-section .b-paged-article-section-form .b-paged-article-section-form-button {

			margin: 0;
			padding: 0;
			border: 0;
			width: 100%;
			min-height: 60px;
			width: 235px;
			font-family: 'PalatinoLinotype-Italic', sans-serif;
			font-size: 20px;
			line-height: 30px;
			color: #c8a359;
			text-align: center;
			background: none;
		}

			.b-paged-article .b-paged-article-section .b-paged-article-section-form .b-paged-article-section-form-field .b-paged-article-section-form-field-entity::-webkit-input-placeholder { color: #c8a359; }
			.b-paged-article .b-paged-article-section .b-paged-article-section-form .b-paged-article-section-form-field .b-paged-article-section-form-field-entity:-moz-placeholder { color: #c8a359; }
			.b-paged-article .b-paged-article-section .b-paged-article-section-form .b-paged-article-section-form-field .b-paged-article-section-form-field-entity:-ms-input-placeholder { color: #c8a359; }
			.b-paged-article .b-paged-article-section .b-paged-article-section-form .b-paged-article-section-form-field .b-paged-article-section-form-field-entity::-moz-placeholder { color: #c8a359; }

	.b-paged-article .b-paged-article-section .b-paged-article-section-form .b-paged-article-section-form-button {

		margin: 0 9px;
		min-height: 60px;
		color: #000;
		width: 239px;
		background: #c8a359;
		cursor: pointer;
		border-top: 2px solid #c8a359;
		border-bottom: 2px solid #8a713d;
	}

	.b-paged-article .b-paged-article-section .b-paged-article-section-partners-collection {

		width: 900px;
		font-size: 0;
		line-height: 0;
	}
		.b-paged-article .b-paged-article-section .b-paged-article-section-partners-collection .b-paged-article-section-partners-clause {

			display: inline-block;
			margin: 10px 23px;
			width: 400px;
			line-height: 100px;
			border: 1px solid #fff;
		}
		.b-paged-article .b-paged-article-section .b-paged-article-section-partners-collection .b-paged-article-section-partners-clause .b-paged-article-section-partners-picture {

			display: inline-block;
			vertical-align: middle;
		}

